.card_remove {
    mask-image: url('./assets/images/flame_off.gif');
    mask-size: cover;
    mask-position: center;
}

.reveal {
    mask-image: url('./assets/images/flame_on.gif');
    mask-size: cover;
    mask-position: center;
}

.moveAnimation {
    animation: moveAnimation 10s infinite ease-in-out;
    animation-delay: calc(var(--x-position) * 1000ms);
}

.bounceAnimation {
    animation: bounceAnimation 200ms forwards ease-in-out;
}

@keyframes moveAnimation {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(-2deg);
    }
    66% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes bounceAnimation {
    0% {
        transform: perspective(1000px) scale3d(1, 1, 1) rotate(0deg);
    }
    33% {
        transform: perspective(1000px) scale3d(0.95, 0.95, 0.95) rotate(0deg);
    }
    66% {
        transform: perspective(1000px) scale3d(1.05, 1.05, 1.05) rotate(2deg);
    }
    100% {
        transform: perspective(1000px) scale3d(1, 1, 1) rotate(0deg);
    }
}
@keyframes bounceAnimation2 {
    0% {
        transform: rotate(0deg) scale(1);
    }
    33% {
        transform: rotate(0deg) scale(0.95);
    }
    66% {
        transform: rotate(2deg) scale(1.05);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}
